@model IEnumerable<ResqDoc.Models.Ocorrencia>

@{
    ViewData["Title"] = "Index";
}

<div class="container">

    @*<h1>Index</h1>*@

    <p>
        <a class="btn btn-outline-primary" href="@Url.Action("Create", "Ocorrencias")">
            Cadastrar Nova Ocorrência
        </a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gravidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cobrade)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gravidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cobrade)
                </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" style="font-size: 18px;">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id" style="font-size: 18px;">
                            <i class="bi bi-info-circle-fill"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" style="font-size: 18px;">
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                    </td>

            </tr>
    }
        </tbody>
    </table>
</div>