@model IEnumerable<resqdoc.Models.Material>

@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <h1></h1>

    <p>
        <a class="btn btn-outline-primary" href="@Url.Action("Create", "Materials")">
            Solicitar novo material
        </a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Local)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cidadao)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Local)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidadao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" style="font-size: 18px;">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" style="font-size: 18px;">
                        <i class="bi bi-info-circle-fill"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" style="font-size: 18px;">
                        <i class="bi bi-trash3-fill"></i>
                    </a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>