@model resqdoc.Models.Cobrade

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>Detalhes</h1>

    <div>
        <h4>Cobrade</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Cod)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Cod)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Descricao)
            </dd>
        </dl>
    </div>
    <div>
        <div class="form-group d-grid mt-1">
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
        </div>
        <div class="form-group d-grid mt-1">
            <a class="btn btn-secondary" href="@Url.Action("Index", "Materials")">Voltar</a>
        </div>
    </div>
</div>